# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Bioinformatics specific
*.fasta
*.fa
*.fna
*.faa
*.fastq
*.fq
*.sam
*.bam
*.vcf
*.gff
*.gtf
*.bed
*.bw
*.bigwig
*.bai
*.tbi
*.idx

# Logs and databases
*.log
*.sqlite
*.db

# Temporary files
*.tmp
*.temp
*.bak
